

tr:hover{
    background-color: rgb(146, 148, 255);
    color: rgb(2, 2, 2);
}

.tbContainer {
   
    align-items: center;
    align-self: center;font-size: 12px;

    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
   
  }
  
  .tbContainer tr, .tbContainer th {
    border: 1px solid #ddd;
    padding: 2px;
  }
  
  .tbContainer tr:nth-child(even){background-color: #f2f2f2;}
  
  .tbContainer tr:hover {background-color: #ddd;}
  
  .tbContainer th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #2887d0;
    color: white;
  }

  .product{
    width: auto;
    height: 80px;
    margin: 10px auto;
  }
  
  .roundImg{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 10px;
  }

  .status{
    width: 40px;
    height: 40px;
  }

  .details{
    margin-left: 2%;
      position: relative;
      width: 95%;
  }

  .accept{

    border-style: none;

    &:hover{
      background-color: rgb(255, 170, 170);
      border-style: none;
    }
    

  }

  
.modal{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.904);
  margin: 0 auto;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.acceptBtn{
  padding: 10px 20px;
  margin: 5px;
  width: 300px;
  background-color: greenyellow;
  color: black;
  border-style: none;
  border-radius: 5px;
}

.rejectBtn{
  padding: 10px 20px;
  width: 300px;
  margin: 5px;
  background-color: red;
  border-style: none;
  border-radius: 5px;
  
}

.otherDiv{
  position: relative;
}
.description{
  
}

.amount{
  font-size: 14px;
  color: green;
}